<ul>
	<li>First Name: {{model.firstName}}</li>
	<li>Last Name: {{model.lastName}}</li>
	<li>Email: {{model.email}}</li>
	<li>Twitter: {{model.twitter}}</li>
	<button>{{link-to 'Edit' 'friends.edit' model}}</button>
	<a href="#" {{action "delete" model}}>delete</a>
</ul>